<div class="header">
    <nav class="navbar navbar-inverse">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"> 🔊</a></li>
              <iframe width="50" height="35" src="https://www.youtube.com/embed/bESGLojNYSo?list=RDEMp7_432lokhimq4eaoILwZA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
              <li><button class="btn btn-dark" type="submit" (click)="logout()">Logout</button></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 👸🏻</a></li>
            </ul>
        </div>  
    </nav>
    <div class="container">    
    </div>
  <h1>MIAMI FASION WEEK EVENTS</h1>
  
</div>
<!-- Image Header -->
  <div class="video">
    <div class="w3-display-container w3-animate-opacity">

    <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
  </div> 
  <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/3oriO11qkQUd4krcvC" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/ladygaga-lady-gaga-victorias-secret-fashion-show-3oriO11qkQUd4krcvC"></a></p>

</div>
</div>
<!-- <iframe width="1440" height="900" src="https://www.youtube.com/embed/26JxoWlMyAU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe -->