
<h1> WELCOME {{ user.username }} </h1>
<form *ngIf="!user">
  <h2> Login and/or Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <div>
  <br>
  <button type="button" class="btn btn-dark" (click)="login()"> LOGIN BUTTON </button>
  <br>
</div>
  <br>
<div>
  <br>
  <button type="button" class="btn btn-dark" (click)="signup()"> SIGNUP BUTTON </button>
  <br>
</div>
</form>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object, ok? </p>
  <pre> {{ user | json }} </pre>
  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>
  <button (click)="logout()"> logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>

<p class="error"> {{ error }} </p>

<!-- 
<hr>
<br>
<h1> This is the login page start!</h1>
<h1> WELCOME {{ user.username }} </h1>
<form *ngIf="!user" class= "container">
    <h2 class="welcome display-2 mx-auto text-white text-center"> Thew "Must Attend' Events </h2>
    <div class="row">
      <div class="text-center mx-auto">
        <div class="form-container">
          <form>
            <div class="form-group">
                <h2>Login</h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username" class="form-control"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  
    <button (click)="login()"> login </button>
    <button (click)="signup()"> signup </button>
  </form>
  
  <div *ngIf="user">
    <h2> You are now logged in as {{ user.username }}!! </h2>
    <p> Here's the user object </p>
    <pre> {{ user | json }} </pre>
  
    <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
    <pre> {{ privateData | json }} </pre>
    <button (click)="logout()"> logout </button>
    <button (click)="getPrivateData()"> Get private data </button>
  </div>
  
  <p class="error"> {{ error }} </p>
<h1> This is the login page end!</h1>
<br>
<hr>
<br>
<hr> -->
