

<h1 class="head"> Event list </h1>
<div class="card" style="width: 125rem;">
    <div *ngFor="let event of events">
    <div *ngIf="event.image !== ''">
      <img class="card-img-top"  [src]="event.image" alt="Event" />
    </div>
      <div class="card-body">
      <h3 class="card-title"> {{ event.genre }}&nbsp; </h3>
      <p class="card-title"> {{ event.name }} </p>
      <p class="card-title"> {{ event.specs }} </p>
      <div *ngIf="user">
        <a [routerLink]="['/events', event._id]"> View Event Details </a>
      </div>
    </div>
</div>
<hr>
<hr>
<br>
<hr>