
<h1> Page to add-events start!!!!!!!!</h1>

<form>
  <fieldset>
    <legend> Event info </legend>
    <label> Genre </label>
    <input type="text" [(ngModel)]="newEvent.genre" name="genre" required />

    <label> Name </label>
    <input type="text" [(ngModel)]="newEvent.name" name="name" required />

    <label> Specs </label>
    <input type="text" #spec />
    <button (click)="addSpec(spec.value); spec.value = ''"> add </button>

    <ul>
      <li *ngFor="let spec of newEvent.specs"> {{ spec }} </li>
    </ul>
    <small *ngIf="!newEvent.specs.length"> This event has no specs :( </small>

    <input type="file" name="eventImg" ng2FileSelect [uploader]="uploader" />

  </fieldset>
  <button (click)="submit()"> submit </button>
</form>

<p> {{ feedback }} </p>
<h1> Page to add-events end!!!!!!!!</h1>
<hr>