
<h1> Event list </h1>
<div>
  <div *ngFor="let event of event">
    <img [src]="event.image" />
    <h3> {{ event.genre }}&nbsp;</h3>
    <p> {{ phone.name }} </p>
    <a [routerLink]="['event', events._id]"> View Details </a>
  </div>
</div>

<!-- 
<h1> Add a new Event - client</h1>
<a [routerLink]="['']"> Back to list </a>
<form>
  <fieldset>
    <legend> Events </legend>
    <label> Type </label>
    <input type="text" [(ngModel)]="newEvent.type" name="type" required />

    <label> Name </label>
    <input type="text" [(ngModel)]="newEvent.name" name="name" required />

    <label> Details </label>
    <input type="text" details />
    <button (click)="addDetails(details.value); details.value = ''"> add </button>

    <ul>
      <li *ngFor="let details of newEvents.details"> {{ details }} </li>
    </ul>
    <small *ngIf="!newEvent.details.length"> This Event has no details :( </small>

    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

  </fieldset>
  <button (click)="submit()"> submit </button>
</form>

<p> {{ feedback }} </p> -->
