<hr>

<h1>This is the signup view start!</h1>
<h2> Signup page </h2>
<a [routerLink]="['']"> Back to list </a>

<!-- <div *ngIf="event">
  <div class="phone-thumbnail">
    <img height="300" [src]="phone.image" />
  </div>

  <div class="event-info">
    <h2> {{ event.genre }}&nbsp;</h2>
    <h3> {{ event.brand }} </h3>

    <div *ngIf="event.details.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let sdetail of event.details"> {{ details&nbsp;}} </li>
      </ul>
    </div>
  </div>
</div> -->

<h1>This is the signup view end!</h1>
<hr>

<!-- 
<h1> Signup page </h1>
<a [routerLink]="['']"> Back to list </a>

<div *ngIf="phone">
  <div class="phone-thumbnail">
    <img height="300" [src]="phone.image" />
  </div>

  <div class="event-info">
    <h2> {{ event.genre }}&nbsp;</h2>
    <h3> {{ event.brand }} </h3>

    <div *ngIf="event.details.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let sdetail of event.details"> {{ details&nbsp;}} </li>
      </ul>
    </div>
  </div>
</div> -->
