 <h1>Signup will not be used for this website so remember to delete this!!</h1>
 <hr>

<!-- <h1>This is the signup view start!</h1>
<h1> Signup page </h1>
<a [routerLink]="['']"> Back to list </a>
 -->

<!-- <form *ngIf="!user">
    <h2> Login or Signup </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  
    <button (click)="login()"> login </button>
    <button (click)="signup()"> signup </button>
  </form>
   <!-- -->



<!-- <h1>This is the signup view end!</h1>
<hr> --> 
