<div *ngIf="!user">
<app-login></app-login>
</div>


<div class="heading">
        <h1 class="main-title"> Current events </h1>
        <h1> Runway Show</h1>    
        <h2> Rene by R&R </h2>
    
        <h5>Couture </h5>
        <h5>DReady to wear </h5>
    
        <img src="../src/app/RR.JPG" alt="model" height="900" width="1200" >

            <br>
            <hr>
            <br>
        
        <h1> Art Exhibit</h1>    
        <h2> Salvador dali</h2>
    
        <h5>Paintings </h5>
        <h5>Sculpture</h5>
    
        <img src="../src/app/mona.jpeg" alt="Mona Lisa" height="900" width="1200" >
        
</div>

<!-- <app-current-events></app-current-events> -->
<app-event-list></app-event-list>
