<div *ngIf="!user">
<app-login></app-login>
</div>


<div class="heading">
        <h1 class="main-title"> Current events </h1>
        <h1> Runway Show</h1>    
        <h1> Rene by R&R </h1>
    
        <h2>Couture </h2>
        <h2>Ready to wear </h2>
    
        <img src="../src/app/RR.JPG" alt="model" height="900" width="1200" >

            <br>
            <hr>
            <br>

        <h1> 2019 Preview Trunk Show</h1>    
        <h1> Atelier Urbina </h1>
        
        <h2>Accessories </h2>
        <h2>Ready-To-Wear </h2>
        
        <img src="../src/app/alexiaw7.JPG" alt="model" height="1800" width="1200" >
    
        <br>
        <hr>
        <br>
        
        <h1> Art Exhibit</h1>    
        <h1> Leonardo Da Vinci</h1>
    
        <h2>Painting </h2>
        <h2>Sculpture</h2>
    
        <img src="../src/app/mona.jpeg" alt="Mona Lisa" height="900" width="1200" >
        
</div>

<!-- <app-current-events></app-current-events> -->
<app-event-list></app-event-list>
